*{
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.display{
    width: 350px;
    height: 125px;
    background-color: #36474f;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 35px;
    color: white;
}
.allKeys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 354px;
    height: 500px;
    background-color: #18212a;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    
}
.number{
    background: transparent;
    color: white
}
.number:hover{
    background-color: white;
    opacity: 0.5;
    color: black;
    transition-duration: 0.1s;
}
.operation{
    background-color: #e5e5e5;
}
#overAll{
    background-color: #ff6531;
}